doctype html 
html 
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0 ' value="script-src 'self' api.mapbox.com;")
            //- meta(http-equiv="Content-Security-Policy" content="script-src 'self' api.mapbox.com;worker-src blob: ;connect-src https://*.tiles.mapbox.com https://api.mapbox.com https://events.mapbox.com")
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
            title Navin Tours | #{title}
            

    body(data-alert = `${alert?alert:''}`)
        //HEADER
        include _header
        //CONTENT
        //-main.main
        block content 
            h1=tour 
        //Footer
        include _footer
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js')
        //- script(src='/js/mapbox.js')
        //- script(src='/js/login.js')
        script(src='https://js.stripe.com/v3/')
        script(src='/js/bundle.js')



